html {
    color:slategray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/himalayas.jpg");
}

body {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(220, 220, 220, 0.9);
    padding: 10px 50px 10px 100px;
}

.fixed-nav-bar {
    background-color: darkred;
}

section {
    margin-top: 80px;
}

h1 {
    color: maroon;
    font: bold 50px sans-serif;
}

h2, h3 {
    color: midnightblue;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}


img {
    border-style: solid;
    border-width: 5px;
    border-color: maroon;

    box-shadow: 5px 5px 5px 2px rgba(41, 35, 31, 1);
    -web-box-shadow: 5px 5px 5px 2px rgba(41, 35, 31, 1);
}

.logo {
    box-shadow: none;
    width: 50px;
}